https://www.tutorjoes.in/python_programming_tutorial/dictionary_programs_in_python

https://www.codingbroz.com/python-hackerrank-solutions/

In [1]:
#operator module
from pprint import pprint
from collections import Counter

In [2]:
dict(Counter("hellohihowareu")) #Counter object which can be converted into a dictionary

{'h': 3, 'e': 2, 'l': 2, 'o': 2, 'i': 1, 'w': 1, 'a': 1, 'r': 1, 'u': 1}

In [1]:
first_dict = {'a': 1, 'b': 2, 'c': 3}
second_dict = {'c': 4, 'd': 5}
third_dict = {'a': 6, 'e': 7}

combined_dict = {**first_dict, **second_dict, **third_dict}
print(len(combined_dict))

5

In [5]:
string="anujakanawade"
a={x:string.count(x) for x in string}
print(a)

{'a': 5, 'n': 2, 'u': 1, 'j': 1, 'k': 1, 'w': 1, 'd': 1, 'e': 1}

In [7]:
len(string),len(set(string))

(13, 8)

In [8]:
import collections

# Examples
counter = collections.Counter([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
default_dict = collections.defaultdict(int)
deque_object = collections.deque([1, 2, 3])
named_tuple = collections.namedtuple('Person', ['name', 'age'])
ordered_dict = collections.OrderedDict({'apple': 1, 'banana': 2, 'orange': 3})

In [3]:
string="anujakanawade"
counted={}
for i in string:
    if i in counted:
        counted[i] +=1
    else:
        counted[i]=1
print(counted)

{'a': 5, 'n': 2, 'u': 1, 'j': 1, 'k': 1, 'w': 1, 'd': 1, 'e': 1}

### program to add a key to a dictionary

In [24]:
d = {"Name":"Ram" , "Age":23}
print(d)
d.update({"City":"Salem"})
print(d)
d["Gender"]="Male"
print(d)

{'Name': 'Ram', 'Age': 23}
{'Name': 'Ram', 'Age': 23, 'City': 'Salem'}
{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}

### Python script to sort (ascending and descending) a dictionary by value

sorted function takes two arguments: d.items() which returns a list of tuple pairs from the dictionary, and key=operator.itemgetter(1), which specifies that the values (the second item in each tuple pair) should be used as the sort key

In [25]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sd = sorted(d.items(), key=operator.itemgetter(1))
print('Ascending order : ',sd)
sd = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Descending order : ',sd)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Ascending order :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Descending order :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [26]:
################# by keys 
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sd = sorted(d.items(), key=operator.itemgetter(0))
print('Ascending order : ',sd)
sd = dict( sorted(d.items(), key=operator.itemgetter(0),reverse=True))
print('Descending order : ',sd)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Ascending order :  [(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]
Descending order :  {4: 3, 3: 4, 2: 1, 1: 2, 0: 0}

### Sort Counter by value

 Counter class from the collections module in Python. It creates a Counter object x using the dictionary he most_common method is then used on the Counter object, which returns a list of tuples where each tuple is a key-value pair from the Counter object in the order of their count, from the most common to the least. The returned list contains the elements and their count in the Counter object.

In [27]:
from collections import Counter
x = Counter({'Tamil':92, 'Math':88,'Science':89, 'Social':89, 'English':56})
print(x.most_common())

[('Tamil', 92), ('Science', 89), ('Social', 89), ('Math', 88), ('English', 56)]

### program to concatenate following dictionaries to create a new one

In [28]:
d1={"Name":"Ram" , "Age":23}
d2={"City": "Salem", "Gender": "Male"}
d3={"Mark":450}
d4 = {}
for d in (d1, d2, d3): d4.update(d)
print(d4)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male', 'Mark': 450}

### python program to iterate over dictionaries using for loops

In [29]:
d={"Name":"Ram" , "Age":23 , "City": "Salem", "Gender": "Male"}
 
for k, v in d.items():
    print(k,' : ',v)
print("----------------------------------")
for i in d.items():
    print(i)

Name  :  Ram
Age  :  23
City  :  Salem
Gender  :  Male
----------------------------------
('Name', 'Ram')
('Age', 23)
('City', 'Salem')
('Gender', 'Male')

### Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

In [32]:
l=int(input("Enter the Limit : "))
d = dict()
 
for x in range(1,l+1):
    d[x]=x*x
print(d)

Enter the Limit : 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [33]:
l = int(input("Enter the Limit: "))
d = {x: x * x for x in range(1,l+1)}
print(d)

Enter the Limit: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### merge two Python dictionaries

In [34]:
def merge_dicts(dict1, dict2):
    return {**dict1, **dict2}

# Example dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

print("----------------------------------")

dict3 ={}
for d in (dict1,dict2): dict3.update(d)
print(dict3)

print("----------------------------------")

res = dict1.copy()
res.update(dict2)
print(res)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
----------------------------------
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
----------------------------------
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### sum all the items in a dictionary

In [35]:
d = {1:23,2:45,3:-17,4:87}
print(sum(d.values()))

138

### Access dictionary key’s element by index

In [36]:
student = {"Name": "Pooja", "Age":23, "Gender": "Female", "City": "Salem", "Mark":488}
print(list(student)[0])
print(list(student)[1])

Name
Age

### Drop empty Items from a given Dictionary

In [37]:
student = {"Name": "Pooja", "Age":23, "Gender": None, "Mark":488, "City": None}
print("Before Dropping :",student)
student1 = {key:value for (key, value) in student.items() if value is not None}
print("After Dropping :",student1)

Before Dropping : {'Name': 'Pooja', 'Age': 23, 'Gender': None, 'Mark': 488, 'City': None}
After Dropping : {'Name': 'Pooja', 'Age': 23, 'Mark': 488}

### Create a dictionary of keys a, b, and c

In [38]:
num = dict(A=list(range(1, 11)), Y=list(range(11, 21)), Z=list(range(21, 31)))
print(num)

{'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Y': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'Z': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

### pprint function from the pprint library is used to pretty-print the dictionary  to the console.

In [39]:
from pprint import pprint
num = dict(A=list(range(1, 11)), Y=list(range(11, 21)), Z=list(range(21, 31)))
pprint(num)

{'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'Y': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'Z': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

### Match key values in two dictionaries

In [40]:
A = {'Tamil': 92, 'English': 56, 'Maths': 88, 'Sceince': 97, 'Social': 89}
B= {'Tamil': 78, 'English': 68, 'Maths': 88, 'Sceince': 97, 'Social': 56}
for (key, value) in set(A.items()) & set(B.items()):
    print('%s: %s is present in both A and B' % (key, value))

Maths: 88 is present in both A and B
Sceince: 97 is present in both A and B

### program to count number of items in a dictionary value that is a list

In [41]:
d =  {'M1': [67,79,90,73,36], 'M2': [89,67,84], 'M3': [82,57]}
tot = sum(map(len, d.values()))
print("Number of Items in a Dictionary :",tot)

Number of Items in a Dictionary : 10

In [43]:
print(len(d.values()))

3

### program to check multiple keys exists in a dictionary

In [45]:
# all elements in the set on the right side are also in the set on the left side.
student = {
  'name': 'Ram',
  'age': 23,
  'city': 'Salem'
}
print(student.keys() >= {'age', 'name','city'})
print(student.keys() >= {'City', 'Ram'}) # ram is value

True
False

### print a dictionary line by line

In [46]:
sub = {"Sam":{"M1":89,"M2":56,"M3":89},
        "Suresh":{"M1":49,"M2":96,"M3":89}}
for a in sub:
    print(a)
    for b in sub[a]:
        print (b,":",sub[a][b])

Sam
M1 : 89
M2 : 56
M3 : 89
Suresh
M1 : 49
M2 : 96
M3 : 89

### Convert two lists into a dictionary

In [48]:
keys = {"One", "Two", "Three", "Four", "Five"}
values = {1, 2, 3, 4, 5} # if we put list here [] then also work same here
 
res = dict(zip(keys, values))
print(res)

{'Three': 1, 'Two': 2, 'Five': 3, 'Four': 4, 'One': 5}

### program to Initialize dictionary with default values

##### The fromkeys method of the dict class is then used to create a new dictionary with the keys from the list stu and the values from the dictionary defaults. The resulting dictionary is stored in the variable "result"

In [50]:
stu = ["Siva", "Sam", "Ram", "Pooja"]
defaults = {"designation": "Student", "Department": "BCA"}
 
result = dict.fromkeys(stu, defaults)
pprint(result)

{'Pooja': {'Department': 'BCA', 'designation': 'Student'},
 'Ram': {'Department': 'BCA', 'designation': 'Student'},
 'Sam': {'Department': 'BCA', 'designation': 'Student'},
 'Siva': {'Department': 'BCA', 'designation': 'Student'}}

In [51]:
# Individual data
print("\nSiva :",result["Siva"])

Siva : {'designation': 'Student', 'Department': 'BCA'}

### Create a dictionary by extracting the keys from a given dictionary

In [52]:
student = { 
  "Name": "Tara",
  "RollNo":130046, 
  "Mark": 458, 
  "City": "Chennai" }
 
keys = ["Name", "RollNo", "Mark"]
 
n = {k: student[k] for k in keys}
print(n)

{'Name': 'Tara', 'RollNo': 130046, 'Mark': 458}

### program to Delete a list of keys from a dictionary

In [5]:
student = {
	"Name": "Tara",
	"RollNo":130046, 
	"Mark": 458, 
	"Age":16,
	"Gender":"Female",
	"City": "Chennai"
}
print("Before Delete :",student)
# Keys to remove From a Dict
keys = ["Gender", "City"]
 
for k in keys:
    student.pop(k)
print("After Delete :",student)

Before Delete : {'Name': 'Tara', 'RollNo': 130046, 'Mark': 458, 'Age': 16, 'Gender': 'Female', 'City': 'Chennai'}
After Delete : {'Name': 'Tara', 'RollNo': 130046, 'Mark': 458, 'Age': 16}

### Rename key of a dictionary

In [6]:
#Rename key of a dictionary
student["Mark10"] = student.pop("Mark")
print("After Rename Key of a Dictionary :",student)

After Rename Key of a Dictionary : {'Name': 'Tara', 'RollNo': 130046, 'Age': 16, 'Mark10': 458}

In [7]:
print(student.keys())

dict_keys(['Name', 'RollNo', 'Age', 'Mark10'])

In [8]:
print(student.values())

dict_values(['Tara', 130046, 16, 458])

### program to get the maximum and minimum value of dictionary

In [10]:
marks={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}
 
v = marks.values()
maxi = max(v)
mini = min(v)
 
print("Maximum :",maxi)
print("Minimum :",mini)

Maximum : 89
Minimum : 35

### sum all the values of a dictionary

In [11]:
marks={"m1":92 , "m2":56 , "m3":88 , "m4":97 , "m5":89}
total = []
 
for i in marks.values():
	total.append(i)
print("Sum of Values :",sum(total))

Sum of Values : 422

### count the number of characters (character frequency) in a string

In [12]:
str ="tutorjoes"
dict = {}
for c in str:
	keys = dict.keys()
	if c in keys:
		dict[c] += 1
	else:
		dict[c] = 1
print(dict)

{'t': 2, 'u': 1, 'o': 2, 'r': 1, 'j': 1, 'e': 1, 's': 1}

# HackerRank Solutions

In [22]:
Result =[]
scorelist = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        Result+=[[name,score]]
        scorelist+=[score]
    b=sorted(list(set(scorelist)))[1] 

    for a,c in sorted(Result):
        if c==b:
            print(a)

5
harry
35
anuja
35
kirtee
56
anu
35
sami
35
kirtee